{% extends "base.html" %}

{% block title %}:: All Quotes{% endblock %}

{% block content %}

<ul class="nomarker" id="quotes">{% for quote in quotes %}
    <li class="quote">
        {% include "qdb/quote.html" %}
    </li>
{% endfor %}</ul>

<div class="pagination">
    <p>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">&lt;&lt;</a>
    {% endif %}
    Showing quotes {{ page_obj.start_index }} - {{ page_obj.end_index }} of
    {{ paginator.count }}.
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">&gt;&gt;</a>
    {% endif %}
    </p>
</div>
{% endblock %}
