<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>#tcpa QDB {% block title %}{% endblock %}</title>
</head>

<body>
<header id="page-title">
    <h1><a href="/">#tcpa QDB</a></h1>
    <form id="search" method="get" action="/search">
        <input type="text" name="q" />
        <input type="submit" value="Search" />
    </form>
</header>
{% block content %}
This shouldn't be visible. Somebody (maybe you?) screwed up writing a template.
{% endblock %}
</body>
</html>
